<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>

    <link rel="stylesheet" href="../../static/css/reset.css">
    <link rel="stylesheet" href="../../static/css/public/register.css">

</head>

<body>
    <form action="">
        <input type="text" name="id" placeholder="请输入账号">
        <br>
        <input type="text" name="username" placeholder="请输入姓名">
        <br>
        <input type="password" name="userPassword1" placeholder="请输入密码">
        <br>
        <input type="password" name="userPassword2" placeholder="请再次输入密码">
        <br>
        <button id="register" type="button">注册</button>
    </form>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="../../static/js/public/register.js"></script>
</body>

</html>