.clearfix::before,
.clearfix::after {
    content: '';
    clear: both;
    display: table;
}

#item_1>.clearfix {
    width: 179px;
}

body {
    background-color: rgba(245, 245, 243, 0.6);
}

main {
    width: 1150px;
    margin: 0px auto;
    padding-bottom: 150px;

    position: relative;
}

#nav {
    width: 900px;
    height: 30px;
    margin: 20px 0px;
    padding: 15px 0px;
    background-color: rgba(255, 255, 255, 0.6);

    border-radius: 15px;
    box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.4);

    font-size: 15px;
    font-weight: bold;
    line-height: 27px;
    text-align: center;
    vertical-align: middle;
}

#nav>input {
    border: 2px solid rgba(36, 36, 36, 0.4);
    background-color: rgba(245, 245, 245, 0.6);

    outline: none;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);

    color: grey;
    font-size: 15px;
}

#searchInfo{
    width: 120px;
}

#userBlock {
    width: 220px;
    padding: 20px 0px;
    background-color: rgba(255, 255, 255, 0.6);

    border-radius: 15px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);

    top: 120px;
    left: 930px;
    position: absolute;
}

#userImage {
    width: 75px;
    height: 75px;
    margin: 10px auto;
    background-color: rgba(144, 144, 144, 0.6);

    border-radius: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);

    color: white;
    font-size: 50px;
    line-height: 72px;
    text-align: center;
    vertical-align: middle;
}

#userInformation>p {
    color: grey;
    font-size: 17px;
    line-height: 20px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    text-overflow: ellipsis;
}

#userName {
    color: black;
}

#userFunction {
    margin: 20px 0px;
}

#userFunction>li {
    margin: 10px auto;
    border-bottom: 2px solid rgba(36, 36, 36, 0.4);

    content: '';
    clear: both;
    display: table;
}

#userFunction>li>a {
    color: black;
    font-size: 20px;
    line-height: 25px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
}

#userBlock>form {
    margin: 0px auto;

    text-align: center;
    vertical-align: middle;
}

#contentBlock {
    width: 900px;
    margin-top: 20px;
    padding: 5px 0px;
    background-color: rgba(245, 245, 245, 0.6);

    border-radius: 20px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
}

#itemList>li {
    width: 840px;
    height: 45px;
    margin: 15px auto;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.6);

    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);

    content: '';
    clear: both;
    display: table;
}

#itemList>li>div {
    padding: 2px;
    float: left;
}

#itemList>li>div {
    width: 215px;
    height: auto;
    color: grey;
    font-size: 15px;
    text-align: left;
    font-weight: bold;
    vertical-align: middle;
    text-overflow: ellipsis;
}

#exitButton{
    width: 90px;
    background-color: #2e2e2e;

    border: none;
    border-radius: 100%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    
    color: white;
    font-size: 25px;
    line-height: 42px;
    text-align: center;
    vertical-align: middle;

}

#itemList>li>div>p {
    width: 270px;
}

#itemList>li>div:not(:last-child){
    border-right: 2px solid rgba(36, 36, 36, 0.4);
}

.indentInfo1{
    line-height: 50px;
}

.indentInfo2,
.indentInfo3{
    line-height: 25px;
}

.indentID{
    color: black;
    font-size: 17px;
}
#image,
#veinImage {
    width: 900px;
    padding-top: 10px;
}

#itemType {
    font-size: 15px;
}